<% const title = "View Item"; %>
<%- include('partial/header', {title: title}) %>

<div class="content">
  <div class="container-fluid mx-auto">
    <div class="row justify-content-center mt-3">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header">
            <div class="d-flex justify-content-center">
              <h3>View Item: <%= item.name %></h3>
            </div>
          </div>

          <div class="card-body">
            <div class="row flex-row align-items-center mb-3">
              <label for="itemId" class="col-2 fw-bold">ID</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="itemId" name="itemId" value="<%= item._id %>" readonly>
              </div>
            </div>
            <div class="row align-items-center mb-3">
              <label for="itemName" class="col-2 fw-bold">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="itemName" name="itemName" value="<%= item.name %>" readonly>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <label for="itemCategory" class="col-2 fw-bold">Category</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="itemCategory" name="itemCategory" value="<%= item.category %>" readonly>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <label for="itemQuantity" class="col-2 fw-bold">Quantity</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="itemQuantity" name="itemQuantity" value="<%= item.quantity %>" readonly>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <label for="itemPrice" class="col-2 fw-bold">Price</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="itemPrice" name="itemPrice" value="<%= item.price %>" readonly>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <label for="itemStatus" class="col-2 fw-bold">Stock Status</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="itemStatus" name="itemStatus" value="<%= item.stockStatus %>" readonly>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <label for="itemDescription" class="col-2 fw-bold">Description</label>
              <div class="col-sm-10">
                <textarea type="text" class="form-control" id="itemDescription" name="itemDescription" readonly><%= item.description %></textarea>
              </div>
            </div>

          </div>

          <div class="card-footer">
            <a href="/items" class="btn btn-primary">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partial/footer') %>